<div class="main-table" *ngIf="tableData.length">
    <div class="card" >
        <p-toast></p-toast>
        <p-table [value]="tableData" dataKey="id" editMode="row" [columns]="cols" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                    {{col.header}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data  let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="data">
                    <td>
                        <div class="short-url-main">
                            <p class="inline-block" (click)="redirectToUrl(data.id,$event)">{{getUrl(data.id)}}</p>
                            <button 
                                pButton 
                                pRipple 
                                type="button" 
                                icon="pi pi-clipboard"            
                                class="p-button-rounded p-button-text"
                                >
                            </button>
                            </div>
                    </td>
                    <td>
                        <p>{{data.url}}</p>
                    </td>
                    <td>
                        <qr-code
                        [value]="getUrl(data.id)"
                        size="100"
                        errorCorrectionLevel="M"
                        />
                    </td>
                    <td>
                        {{counter}}
                    </td>
                    <td>
                        {{data.createdAt |date:'d/M/yy'}}
                    </td>
                    <td>
                        <button 
                        pButton 
                        pRipple 
                        type="button" 
                        icon="pi pi-trash" 
                        (click)="deleteShortUrl(data.id)"
                        class="p-button-rounded p-button-text p-button-danger">
                    </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

